@import '../../node_modules/antd/dist/antd.css';

.community_wrap{
     width: 100%;
}
.community_wrap h1{
    text-align: center;
    font-size:1rem;
    height: 2rem;
    line-height: 2rem;
}
.Community_title{
    width: 90%;
    margin: 5%;
    height: auto;
}
.Community_title select{
    width:40%;
}
.Community_title span{
    margin-left: 0.3rem;
}

.zxs-hd-wrap{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 2.5rem;
}
/*添加住户*/
.zxs-hd-add{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDCD8;
    float: left;
}
.zxs-hd-addin{
    width: 100%;
    margin: 0 auto;
    float: left;
}
.zxs-hd-addin-li{
    width: 100%;
    color: #333333;
    float: left;
}
.zxs-hd-addin-li>p{
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    height: 2rem;
    line-height: 2rem;
    color: #80A6BD;
    float: left;
}
.zxs-hd-addin-li>ul{
    width: 95%;
    height: 8.3rem;
    display: none;
    float: right;
}
.zxs-hd-addin-li>ul>li{
    width: 100%;
    margin-bottom: 0.3rem;
    float: left;
}
.zxs-hd-connect{
    width: 5rem;
    height: 1.2rem;
    border: 1px solid #80A6BD;
    font-size: 0.6rem;
    background-color: transparent;
    border-radius: 0.2rem;
    float: right;
}
.zxs-hd-addin-li-span{
    line-height: 1.2rem;
}
/*添加住户end*/

/*添加成功*/
.zxs-hd-success{
    width: 100%;
    height: 4.1rem;
    font-size: 0.8rem;
    color: #2FBF70;
    line-height: 2rem;
    text-align: center;
    display: none;
    float: left;
}
.zxs-hd-come{
    color: #A9A9A9;
    font-weight: bold;
}
/*添加成功end*/


/*所有住户*/
.zxs-hd-all{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    color: #A9A9A9;
    font-size: 0.8rem;
    font-weight: bold;
    text-indent: 0.25rem;
    border-bottom: 1px solid #DDDCD8;
    float: left;
}
.zxs-hd-table{
    width: 94%;
    height: auto;
    margin: 0.4rem 3%;
    box-shadow: 0px 2px 10px 2px #DDDCD8;
    border-radius: 0.3rem;
    padding: 0rem 0.5rem;
    box-sizing: border-box;
    float: left;
}
.zxs-hd-name{
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #475A7B;
    font-size: 0.75rem;
    border-bottom: 1px solid #D7DAE1;
    float: left;
}
.zxs-hd-card{
    width: 100%;
    height: auto;
    font-size: 0.6rem;
    color: #616C7E;
    margin-bottom: 0.3rem;
    float: left;
}
.zxs-hd-card>p{
    width: 100%;
    line-height: 1.2rem;
}
.zxs-hd-wrap{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 2.5rem;
}
/*添加住户*/
.zxs-hd-add{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDCD8;
    float: left;
}
.zxs-hd-addin{
    width: 100%;
    margin: 0 auto;
    float: left;
}
.zxs-hd-addin-li{
    width: 100%;
    color: #333333;
    float: left;
}
.zxs-hd-addin-li>p{
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    height: 2rem;
    line-height: 2rem;
    color: #80A6BD;
    float: left;
}
.zxs-hd-addin-li>ul{
    width: 95%;
    height: 8.3rem;
    display: none;
    float: right;
}
.zxs-hd-addin-li>ul>li{
    width: 100%;
    margin-bottom: 0.3rem;
    float: left;
}
.zxs-hd-connect{
    width: 5rem;
    height: 1.2rem;
    border: 1px solid #80A6BD;
    font-size: 0.6rem;
    background-color: transparent;
    border-radius: 0.2rem;
    float: right;
}
.zxs-hd-addin-li-span{
    line-height: 1.2rem;
}
/*添加住户end*/

/*添加成功*/
.zxs-hd-success{
    width: 100%;
    height: 4.1rem;
    font-size: 0.8rem;
    color: #2FBF70;
    line-height: 2rem;
    text-align: center;
    display: none;
    float: left;
}
.zxs-hd-come{
    color: #A9A9A9;
    font-weight: bold;
}
/*添加成功end*/


/*所有住户*/
.zxs-hd-all{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    color: #A9A9A9;
    font-size: 0.8rem;
    font-weight: bold;
    text-indent: 0.25rem;
    border-bottom: 1px solid #DDDCD8;
    float: left;
}
.zxs-hd-table{
    width: 94%;
    height: auto;
    margin: 0.4rem 3%;
    box-shadow: 0px 2px 10px 2px #DDDCD8;
    border-radius: 0.3rem;
    padding: 0rem 0.5rem;
    box-sizing: border-box;
    float: left;
}
.zxs-hd-name{
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    color: #475A7B;
    font-size: 0.75rem;
    border-bottom: 1px solid #D7DAE1;
    float: left;
}
.zxs-hd-card{
    width: 100%;
    height: auto;
    font-size: 0.6rem;
    color: #616C7E;
    margin-bottom: 0.3rem;
    float: left;
}
.zxs-hd-card>p{
    width: 100%;
    line-height: 1.2rem;
}
/*所有住户end*/
